
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
            <h1>Trang Quản Lý Cửa Hàng Bán Laptop</h1>
            </div>
        </div>
    </div>
</div>

