
@{
    ViewBag.Title = "XacNhanDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="wrap">
        <h4 style="color: red">Bạn Đã Đặt Hàng Thành Công</h4>




        <div class="tiếp-tục-mua-hàng">
            <div class="nút-tiếp-tục">
                <a href="@Url.Action("Index", "Home")" class="hoàn-tất">VỀ TRANG CHỦ</a>
            </div>
            <div class="nút-xóa">
                <a href="#" class="hoàn-tất">XEM ĐƠN ĐẶT HÀNG</a>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

