
@{
    ViewBag.Title = "Laptop77";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BanMayTinh.Models.DB
@model BanMayTinh.Models.ProductsModel
<style>
    .contain_menu {
        padding: 10px 150px;
        margin: 10px 250px;
    }

        .contain_menu h2 {
            letter-spacing: 6px;
            font-size: 30px;
            color: red;
            text-align: center
        }

        .contain_menu h3 {
            margin: 20px 10px 10px;
            letter-spacing: 0px;
            font-size: 20px;
            color: #0e45c4
        }

        .contain_menu p {
            margin: 5px;
        }
</style>
<div class="contain_menu">
    <h3>LỊCH SỬ CỬA HÀNG LAPTOP77</h3>
    <img src="~/Content/images/gt3.jpg" width="100%" height="100%" />
    <p>
        Laptop77 từ lâu là một địa chỉ quen thuộc trên thị trường sửa chữa bảo trì
        cung cấp hệ thống máy tinh, máy tính bảng, Samatphone Hà Nội và toàn quốc
    </p>
    <p>
        - Năm 2001 bắt đầu từ một cửa hàng sửa chữa, khi máy tính  vẫn còn là một thứ mới lạ với hầu hết người dùng.
        Ngày 28 tháng 06 năm 2004 Công ty cổ phần xây dựng thế giới số
        được chính thức thành lập với mục tiêu mới, mở rộng kinh doanh bán lẻ,
        phân phối sản phẩm pc, laptop, máy văn phòng....
    </p>
    <p>
        - Sẵn có lợi thế là một công ty sửa chữa uy tín và có năng lực,
        cơ hội kinh doanh, hình ảnh về công ty, cty đã mở rộng thành một trung tâm phân phối
        sản phẩm linh kiện laptop, đồ chơi laptop, bán và cung cấp laptop với nhiều sản phẩm độc đáo,
        luôn cập nhật theo thị trường thế giới ...
    </p>
    <p></p>
    <h3>SẢN PHẨM - DỊCH VỤ CỦA LAPTOP77</h3>
    <img src="~/Content/images/gt1.jpg" width="100%" height="100%" />
    <p>
        Về sản phẩm chúng tôi cung cấp hàng của những thương hiệu nổi tiếng,
    </p>
    <p>
        -  Chất lượng đảm bảo, giá cạnh tranh, chế độ bảo hành uy tín,
        theo đúng quy chuẩn của nhà sản xuất, các sản phẩm chủ đạo : apple, sony, dell, asus, toshiba,
        hp, acer, lenovo, samsung,msi, gateway
    </p>
    <img src="~/Content/images/hanglaptop.jpg" width="90%" height="90%" />
    <p>
        - Công ty có trung tâm bảo hành riêng để tự bảo hành cho sản phẩm mà Công ty bán ra,
    </p>
    <img src="~/Content/images/baohanhlaptop.jpg" width="90%" height="90%" />
    <p>
        - Ngoài ra công ty là một địa chỉ uy tín lâu năm trong lĩnh vực sửa chữa dịch vụ
        trong đó công ty rất chú trọng chữ tín trong hoạt động dịch vụ kinh doanh.
    </p>
    <p>
        - Dịch vụ sửa chữa phần mềm, phần cứng, nâng cấp phần mềm cũng là một trong những thế mạnh của công ty
    </p>
    <img src="~/Content/images/dvlaptop.jpg" width="90%" height="90%" />
    <p>
        - Chúng tôi luôn luôn cố gắng phấn đấu để phục vụ khách hàng một cách tốt nhất, đáp ứng tối đa nhu cầu của khách hàng,
        cung cấp hàng hóa chất lượng đảm bảo, chế độ bảo hành linh hoạt.
    </p>
    <p>
        - Với phương châm coi lợi ích của khách hàng là điều quan trọng nhất
    </p>
    <img src="~/Content/images/gt4.jpg" width="100%" height="100%" />
</div>

