
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BanMayTinh.Models.DB.TaiKhoan

<div class="register_account">
    <div class="wrap">
        <h4 class="title">Tạo tài khoản</h4>
        <form method="post" action="@Url.Action("Register","Home")">
            <div class="col_1_of_2 span_1_of_2">
                <div><input type="text" name="Username" placeholder="Username * ( Có thể sử dụng Số điện thoại )"></div>

                <div><input type="text" name="Password" placeholder="Password * "></div>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <div><input type="text" name="TenKhachHang" placeholder="Tên Khách Hàng"></div>
                <div><input type="text" name="Email" placeholder="Email"></div>
                <div><input type="text" name="DiaChi" placeholder="Địa Chỉ"></div>
            </div>
            <button class="grey">Đăng ký</button>
            <p class="terms">Đăng ký tài khoản và đồng ý với <a href="#">Chính sách &amp; Điều khoản sử dụng</a>.</p>
            <div class="clear"></div>
        </form>
    </div>
</div>
